.wrapper {
  background: #ffdf6c; 
  font-family: "Varela Round", sans-serif;
  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 43%, 0 43%);
  clip-path: polygon(0 0, 100% 0, 100% 43%, 0 43%); */
  height: 100vh;
  width: 100wh;
}
.formwrapper{
    border-radius: 5px;
    background-color: white;
    margin-top: 150px;
    box-shadow: 0px 2px 10px #2125296e;
    padding: 50px 0px;
}

.field{
  box-shadow: 1px 1px 1px grey;
  border-radius: 5px;
}

.loginbutton{
  background-color: #1e2446;
  padding:8px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: white;
  width: 80%;
}

.loginbuttonGoogle{
  background-color: rgb(233, 57, 57);
  padding:8px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 900;
  color: white;
  width: 80%;
  margin-bottom:20px;
}

.forgetpassword{
  background-color: transparent;
  border: none;
  color: grey;
  font-weight: 700;
}

.paraErrorNoDisplay{
  display: none;
  color: red;
  font-weight: 500;

}

.paraErrorDisplay{
  display: none;
  color: red;
  font-weight: 500;

}